<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club</title>
  </head>
  <body>
    <a href="/logout">Logout</a>

    <div class="welcome">
      <% if (locals.user) { %> <% if (user.membership === "guest") { %>
      <h1>
        Welcome <%- user.fullName %> to the club, you are only a guest,
        subsecribe to be able to see the writers of the messages
      </h1>
      <% } else if (user.membership === "member") { %>
      <h1>
        Welcome <%- user.fullName %> to the club, you are a member in this club
        and can see messages writers
      </h1>
      <% } else if (user.membership === "admin") { %>
      <h1>Welcome <%- user.fullName %> to the club, you are and admin</h1>
      <% } } %>
    </div>

    <h1 class="messagesTitle">Messages will be shown here!</h1>
    <% if (locals.messages && messages.length > 0) { %> <%
    messages.forEach(message => { %>
    <div class="messages">
      <%- user.membership !== "guest"? message.fullName:undefined %> <%-
      message.title %> <%- message.timestamp %> <%- message.text %>
    </div>
    <% }) %> <% } %>

    <form action="/addMessage" method="post">
      <label for="messageTitle">Title</label>
      <input type="text" id="messageTitle" name="title" />

      <label for="messageText">Text</label>
      <input type="text" id="messageText" name="text" />

      <button type="submit">Send</button>
    </form>
  </body>
</html>
